body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 2px;
}

h2 {
    font-size: 17px;
}

h3, h4, h5, h6 {
    font-size: 16px;
}

.bar {
    display: block;
    border-bottom: 1px solid #DDD;
    height: 1px;
    width: 100%;
    background-color: #DDD;
    margin: 15px 0px 10px 0px;
}

header {
    h1 {
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px;
    }

    .contact,
    .link,
    .location {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        display: block;

        ul {
            margin-bottom: 0px;
        }
    }

    .contact {
        text-align: left;
    }

    .link {
        text-align: right;
    }

    .location {
        font-size: 14px;
        text-align: center;
    }
}

section {
    margin-top: 35px;

    &.skills {
        .skills-container {
            margin-top: -18px;

            ul {
                padding-left: 16px;
                margin-bottom: 0px;
            }
        }
    }

    &.about,
    &.experience,
    &.education,
    &.skills,
    &.course {
        ul li,
        p {
            line-height: 24px;

            &:first-child {
                margin-top: 6px;
            }

            &:last-child {
                margin-bottom: 10px;
            }
        }

        ul {
            padding: 0px 18px;
            margin: 0px;
            list-style: square;

            &.description {
                padding-right: 0px;

                li {
                    text-align: justify;
                }
            }
        }

        p {
            text-align: justify;
        }

        .entity span,
        .timePeriod ul li {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        .entity span,
        .title h2,
        .timePeriod ul li {
            font-size: 17px;
            line-height: 17px;
            margin-top: 3px;
            margin-bottom: 2px;
        }

        .entity span,
        .timePeriod ul li {
            display: inline-block;
        }


        .title {
            h2 {
                text-align: center;
            }
        }

        .timePeriod {
            ul {
                display: block;
                text-align: right;
                margin: 0px;
                padding: 0px;
            }
        }
    }
}
