body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 13px;
}

h4, h5, h6 {
    font-size: 12px;
}

.bar {
    display: block;
    border-bottom: 1px solid #DDD;
    height: 1px;
    width: 100%;
    background-color: #DDD;
    margin: 5px 0px;
}

header .contact ul,
header .link    ul {
    margin-bottom: 0px;
}

header .contact,
header .link,
header .location {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

header .contact {
    text-align: left;
}

header .location {
    font-size: 11px;
    text-align: center;
    display: block;
}

header .link {
    text-align: right;
}

header h1 {
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
}

section.about {
    text-align: justify;
}

section.skills ul {
    padding-left: 16px;
    margin-bottom: 0px;
}

section.skills .skills-container {
    margin-top: -18px;
}

section.experience .entity span,
section.education  .entity span,
section.course     .entity span {
    font-size: 14px;
}

section.experience .title h2,
section.education  .title h2,
section.course     .title h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 3px 0px 2px 0px;
}

section.experience .timePeriod ul,
section.education  .timePeriod ul,
section.course     .timePeriod ul {
    display: block;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

section.experience .timePeriod ul li,
section.education  .timePeriod ul li,
section.course     .timePeriod ul li {
    display: inline;
    font-size: 14px;
}

section.experience p,
section.education  p,
section.course     p {
    margin-top: 6px;
    text-align: justify;
}

section.experience ul,
section.education  ul,
section.skils      ul,
section.course     ul {
    padding: 0px 18px;
    margin: 0px;
    list-style: square;
}