resume:
    name: Your name
    job: Your job
    location: Your city/Your State
    contact:
        phone: Your phone number
        email: your@email.com
    link:
        link1: www.linkedin.com/in/your-user
        link2: www.github.com/your-user
        linkN: www.yourcompany.com
    about:
        title: About me
        description: |
            Your biography
    skills:
        title: Skills
        items:
            -
                title: Title of the skills group
                items:
                    -
                        - Your skill
                        - Your skill
                        - Your skill
                    -
                        - Your skill
                        - Your skill
                        - Your skill
                    -
                        - Your skill
                        - Your skill
                        - Your skill
                    -
                        - Your skill
                        - Your skill
                        - Your skill
            -
                title: Other skills group
                items:
                    -
                        - Your skill
    experience:
        title: Experience
        items:
            -
                position: Your position
                company: Your company
                timePeriod:
                    start: 2015-09
                    end:
                description:
                    - First item
                    - Second item
            -
                position: Your position
                company: Your company
                timePeriod:
                    start: 2015-09
                    end:
                description:
                    - First item
                    - Second item
    education:
        title: Education
        items:
            -
                degree: Your degree
                school: Your school or university
                timePeriod:
                    start: 2011-01
                    end: 2014-12
                description:
                    - First item
                    - Second item
    course:
        title: Courses
        items:
            -
                name: Your course
                info: Your school
                timePeriod:
                    start: 2016-02
                    end:
                description:
                    - First item
                    - Second item
